openapi: 3.0.3
info:
  title: Taxi Service Management API
  description: |
    API REST completa para sistema de gestión de taxis multi-tenant.

    ## Características principales:
    - 🚕 Gestión de conductores y vehículos
    - 📱 Sistema de solicitud y asignación de viajes
    - 👥 Gestión de clientes
    - 💰 Sistema de tarifas dinámicas
    - ⭐ Calificaciones y reseñas
    - 🎟️ Códigos promocionales
    - 📅 Horarios de conductores
    - 🗺️ Tracking en tiempo real

    ## Autenticación:
    Todas las rutas protegidas requieren un token JWT en el header Authorization:
    ```
    Authorization: Bearer <token>
    ```
  version: 1.0.0
  contact:
    name: Taxi System API Support
    email: support@taxisystem.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.taxisystem.com/api/v1
    description: Servidor de producción
  - url: https://staging-api.taxisystem.com/api/v1
    description: Servidor de staging
  - url: http://localhost:8000/api/v1
    description: Servidor de desarrollo local

tags:
  - name: Authentication
    description: Endpoints de autenticación y autorización
  - name: Drivers
    description: Gestión de conductores
  - name: Driver Schedules
    description: Horarios y turnos de conductores
  - name: Rides
    description: Gestión de viajes/carreras
  - name: Customers
    description: Gestión de clientes
  - name: Vehicles
    description: Gestión de vehículos
  - name: Ratings
    description: Calificaciones y reseñas
  - name: Promo Codes
    description: Códigos promocionales y descuentos
  - name: Analytics
    description: Estadísticas y reportes
  - name: Admin
    description: Administración del sistema

security:
  - BearerAuth: []

paths:
  # =============================================================================
  # AUTHENTICATION
  # =============================================================================
  /auth/login:
    post:
      tags: [Authentication]
      summary: Iniciar sesión
      description: Autenticación de usuario (conductor, cliente o admin)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, password]
              properties:
                phone:
                  type: string
                  example: "+525512345678"
                password:
                  type: string
                  example: "password123"
                user_type:
                  type: string
                  enum: [driver, customer, admin]
                  default: customer
                tenant_id:
                  type: string
                  example: "tenant_taxi_001"
      responses:
        '200':
          description: Login exitoso
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  token:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      phone:
                        type: string
                      user_type:
                        type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /auth/register:
    post:
      tags: [Authentication]
      summary: Registrar nuevo usuario
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, password, name, user_type]
              properties:
                phone:
                  type: string
                password:
                  type: string
                name:
                  type: string
                email:
                  type: string
                user_type:
                  type: string
                  enum: [driver, customer]
                tenant_id:
                  type: string
      responses:
        '201':
          description: Usuario creado exitosamente
        '400':
          $ref: '#/components/responses/BadRequestError'

  # =============================================================================
  # DRIVERS
  # =============================================================================
  /drivers:
    get:
      tags: [Drivers]
      summary: Listar conductores
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: status
          in: query
          schema:
            type: string
            enum: [available, busy, offline, on_break]
        - name: active
          in: query
          schema:
            type: boolean
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Lista de conductores
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  drivers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Driver'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Drivers]
      summary: Crear conductor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverInput'
      responses:
        '201':
          description: Conductor creado
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  driver:
                    $ref: '#/components/schemas/Driver'

  /drivers/{driver_id}:
    get:
      tags: [Drivers]
      summary: Obtener conductor por ID
      parameters:
        - $ref: '#/components/parameters/DriverId'
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Datos del conductor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Drivers]
      summary: Actualizar conductor
      parameters:
        - $ref: '#/components/parameters/DriverId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverInput'
      responses:
        '200':
          description: Conductor actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'

    delete:
      tags: [Drivers]
      summary: Eliminar conductor
      parameters:
        - $ref: '#/components/parameters/DriverId'
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Conductor eliminado

  /drivers/{driver_id}/status:
    patch:
      tags: [Drivers]
      summary: Actualizar estado del conductor
      parameters:
        - $ref: '#/components/parameters/DriverId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [available, busy, offline, on_break]
      responses:
        '200':
          description: Estado actualizado

  /drivers/{driver_id}/location:
    patch:
      tags: [Drivers]
      summary: Actualizar ubicación del conductor
      parameters:
        - $ref: '#/components/parameters/DriverId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lat, lon]
              properties:
                lat:
                  type: number
                  example: 19.4326
                lon:
                  type: number
                  example: -99.1332
                heading:
                  type: number
                  description: Dirección en grados (0-360)
      responses:
        '200':
          description: Ubicación actualizada

  /drivers/nearby:
    get:
      tags: [Drivers]
      summary: Buscar conductores cercanos
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: lat
          in: query
          required: true
          schema:
            type: number
        - name: lon
          in: query
          required: true
          schema:
            type: number
        - name: radius_km
          in: query
          schema:
            type: number
            default: 5
        - name: vehicle_type
          in: query
          schema:
            type: string
            enum: [sedan, suv, van, luxury, motorcycle]
      responses:
        '200':
          description: Conductores cercanos
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  drivers:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Driver'
                        - type: object
                          properties:
                            distance_km:
                              type: number
                            eta_minutes:
                              type: number

  # =============================================================================
  # DRIVER SCHEDULES
  # =============================================================================
  /driver/schedule:
    get:
      tags: [Driver Schedules]
      summary: Obtener horarios del conductor
      parameters:
        - name: driver_id
          in: query
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/TenantId'
        - name: day_of_week
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 6
        - name: is_active
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Lista de horarios
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  schedules:
                    type: array
                    items:
                      $ref: '#/components/schemas/DriverSchedule'

    post:
      tags: [Driver Schedules]
      summary: Crear horario
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverScheduleInput'
      responses:
        '201':
          description: Horario creado
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  schedule:
                    $ref: '#/components/schemas/DriverSchedule'

  /driver/schedule/bulk:
    post:
      tags: [Driver Schedules]
      summary: Crear múltiples horarios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [driver_id, tenant_id, schedules]
              properties:
                driver_id:
                  type: string
                tenant_id:
                  type: string
                schedules:
                  type: array
                  items:
                    $ref: '#/components/schemas/DriverScheduleInput'
      responses:
        '201':
          description: Horarios creados
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  schedules:
                    type: array
                    items:
                      $ref: '#/components/schemas/DriverSchedule'

  /driver/schedule/templates:
    get:
      tags: [Driver Schedules]
      summary: Obtener plantillas de turnos predefinidos
      responses:
        '200':
          description: Plantillas disponibles
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  templates:
                    type: object
                    properties:
                      morning:
                        $ref: '#/components/schemas/ShiftTemplate'
                      afternoon:
                        $ref: '#/components/schemas/ShiftTemplate'
                      night:
                        $ref: '#/components/schemas/ShiftTemplate'
                      flexible:
                        $ref: '#/components/schemas/ShiftTemplate'

  /driver/schedule/{schedule_id}:
    put:
      tags: [Driver Schedules]
      summary: Actualizar horario
      parameters:
        - name: schedule_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required: [tenant_id]
                  properties:
                    tenant_id:
                      type: string
                - $ref: '#/components/schemas/DriverScheduleInput'
      responses:
        '200':
          description: Horario actualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  schedule:
                    $ref: '#/components/schemas/DriverSchedule'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Driver Schedules]
      summary: Eliminar horario
      parameters:
        - name: schedule_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Horario eliminado
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '404':
          $ref: '#/components/responses/NotFoundError'

  # =============================================================================
  # RIDES
  # =============================================================================
  /rides:
    get:
      tags: [Rides]
      summary: Listar viajes
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: customer_id
          in: query
          schema:
            type: string
        - name: driver_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [requested, assigned, driver_arriving, started, in_progress, completed, cancelled_by_customer, cancelled_by_driver, cancelled_no_driver]
        - name: from_date
          in: query
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Lista de viajes
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  rides:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ride'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Rides]
      summary: Crear solicitud de viaje
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RideRequest'
      responses:
        '201':
          description: Viaje creado
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  ride:
                    $ref: '#/components/schemas/Ride'
                  estimated_fare:
                    type: number

  /rides/{ride_id}:
    get:
      tags: [Rides]
      summary: Obtener detalles del viaje
      parameters:
        - $ref: '#/components/parameters/RideId'
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Detalles del viaje
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ride'

    patch:
      tags: [Rides]
      summary: Actualizar estado del viaje
      parameters:
        - $ref: '#/components/parameters/RideId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [assigned, driver_arriving, started, in_progress, completed, cancelled_by_customer, cancelled_by_driver]
                actual_distance_km:
                  type: number
                actual_duration_minutes:
                  type: number
      responses:
        '200':
          description: Viaje actualizado

  /rides/{ride_id}/assign:
    post:
      tags: [Rides]
      summary: Asignar conductor a viaje
      parameters:
        - $ref: '#/components/parameters/RideId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [driver_id]
              properties:
                driver_id:
                  type: string
      responses:
        '200':
          description: Conductor asignado

  /rides/{ride_id}/cancel:
    post:
      tags: [Rides]
      summary: Cancelar viaje
      parameters:
        - $ref: '#/components/parameters/RideId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cancelled_by:
                  type: string
                  enum: [customer, driver]
                reason:
                  type: string
      responses:
        '200':
          description: Viaje cancelado

  /rides/{ride_id}/complete:
    post:
      tags: [Rides]
      summary: Completar viaje
      parameters:
        - $ref: '#/components/parameters/RideId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                actual_distance_km:
                  type: number
                actual_duration_minutes:
                  type: number
                final_fare:
                  type: number
      responses:
        '200':
          description: Viaje completado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ride'

  /rides/estimate:
    post:
      tags: [Rides]
      summary: Calcular tarifa estimada
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [origin_lat, origin_lon, destination_lat, destination_lon]
              properties:
                origin_lat:
                  type: number
                origin_lon:
                  type: number
                destination_lat:
                  type: number
                destination_lon:
                  type: number
                vehicle_type:
                  type: string
                promo_code:
                  type: string
      responses:
        '200':
          description: Tarifa estimada
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  distance_km:
                    type: number
                  duration_minutes:
                    type: number
                  estimated_fare:
                    type: number
                  fare_breakdown:
                    type: object
                    properties:
                      base_fare:
                        type: number
                      distance_charge:
                        type: number
                      time_charge:
                        type: number
                      surge_charge:
                        type: number
                      discount:
                        type: number
                      total:
                        type: number

  # =============================================================================
  # CUSTOMERS
  # =============================================================================
  /customers:
    get:
      tags: [Customers]
      summary: Listar clientes
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: customer_type
          in: query
          schema:
            type: string
            enum: [new, frequent, vip, corporate]
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Lista de clientes
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  customers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Customers]
      summary: Crear cliente
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInput'
      responses:
        '201':
          description: Cliente creado

  /customers/{customer_id}:
    get:
      tags: [Customers]
      summary: Obtener cliente por ID
      parameters:
        - $ref: '#/components/parameters/CustomerId'
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Datos del cliente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'

    put:
      tags: [Customers]
      summary: Actualizar cliente
      parameters:
        - $ref: '#/components/parameters/CustomerId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInput'
      responses:
        '200':
          description: Cliente actualizado

  /customers/{customer_id}/saved-addresses:
    get:
      tags: [Customers]
      summary: Obtener direcciones guardadas
      parameters:
        - $ref: '#/components/parameters/CustomerId'
      responses:
        '200':
          description: Direcciones guardadas
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  addresses:
                    type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                          example: "Casa"
                        address:
                          type: string
                        lat:
                          type: number
                        lon:
                          type: number

    post:
      tags: [Customers]
      summary: Agregar dirección guardada
      parameters:
        - $ref: '#/components/parameters/CustomerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [label, address, lat, lon]
              properties:
                label:
                  type: string
                address:
                  type: string
                lat:
                  type: number
                lon:
                  type: number
      responses:
        '201':
          description: Dirección agregada

  # =============================================================================
  # VEHICLES
  # =============================================================================
  /vehicles:
    get:
      tags: [Vehicles]
      summary: Listar vehículos
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: driver_id
          in: query
          schema:
            type: string
        - name: vehicle_type
          in: query
          schema:
            type: string
            enum: [sedan, suv, van, luxury, motorcycle]
        - name: active
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Lista de vehículos
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  vehicles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vehicle'

    post:
      tags: [Vehicles]
      summary: Crear vehículo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleInput'
      responses:
        '201':
          description: Vehículo creado

  /vehicles/{vehicle_id}:
    get:
      tags: [Vehicles]
      summary: Obtener vehículo por ID
      parameters:
        - name: vehicle_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Datos del vehículo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'

    put:
      tags: [Vehicles]
      summary: Actualizar vehículo
      parameters:
        - name: vehicle_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleInput'
      responses:
        '200':
          description: Vehículo actualizado

    delete:
      tags: [Vehicles]
      summary: Eliminar vehículo
      parameters:
        - name: vehicle_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Vehículo eliminado

  # =============================================================================
  # RATINGS
  # =============================================================================
  /ratings:
    get:
      tags: [Ratings]
      summary: Listar calificaciones
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: driver_id
          in: query
          schema:
            type: string
        - name: customer_id
          in: query
          schema:
            type: string
        - name: rating_type
          in: query
          schema:
            type: string
            enum: [customer_to_driver, driver_to_customer]
      responses:
        '200':
          description: Lista de calificaciones
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  ratings:
                    type: array
                    items:
                      $ref: '#/components/schemas/Rating'

    post:
      tags: [Ratings]
      summary: Crear calificación
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatingInput'
      responses:
        '201':
          description: Calificación creada

  /ratings/{rating_id}:
    get:
      tags: [Ratings]
      summary: Obtener calificación por ID
      parameters:
        - name: rating_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Datos de la calificación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'

  # =============================================================================
  # PROMO CODES
  # =============================================================================
  /promo-codes:
    get:
      tags: [Promo Codes]
      summary: Listar códigos promocionales
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: active
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Lista de códigos promocionales
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  promo_codes:
                    type: array
                    items:
                      $ref: '#/components/schemas/PromoCode'

    post:
      tags: [Promo Codes]
      summary: Crear código promocional
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCodeInput'
      responses:
        '201':
          description: Código creado

  /promo-codes/validate:
    post:
      tags: [Promo Codes]
      summary: Validar código promocional
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, customer_id]
              properties:
                code:
                  type: string
                customer_id:
                  type: string
                fare_amount:
                  type: number
      responses:
        '200':
          description: Código válido
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  valid:
                    type: boolean
                  discount_amount:
                    type: number
                  promo_code:
                    $ref: '#/components/schemas/PromoCode'

  /promo-codes/{code}:
    get:
      tags: [Promo Codes]
      summary: Obtener código por código
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Datos del código
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'

    delete:
      tags: [Promo Codes]
      summary: Desactivar código promocional
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Código desactivado

  # =============================================================================
  # ANALYTICS
  # =============================================================================
  /analytics/dashboard:
    get:
      tags: [Analytics]
      summary: Obtener estadísticas del dashboard
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: from_date
          in: query
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Estadísticas generales
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  stats:
                    type: object
                    properties:
                      total_rides:
                        type: integer
                      total_revenue:
                        type: number
                      active_drivers:
                        type: integer
                      average_rating:
                        type: number
                      cancellation_rate:
                        type: number

  /analytics/driver/{driver_id}/earnings:
    get:
      tags: [Analytics]
      summary: Ganancias de conductor
      parameters:
        - $ref: '#/components/parameters/DriverId'
        - name: period
          in: query
          schema:
            type: string
            enum: [today, week, month, year]
            default: month
      responses:
        '200':
          description: Ganancias del conductor
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  earnings:
                    type: object
                    properties:
                      total:
                        type: number
                      by_day:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                            amount:
                              type: number
                            rides:
                              type: integer

  # =============================================================================
  # ADMIN
  # =============================================================================
  /admin/drivers/approve:
    post:
      tags: [Admin]
      summary: Aprobar conductor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [driver_id]
              properties:
                driver_id:
                  type: string
                background_check_status:
                  type: string
                  enum: [approved, rejected]
      responses:
        '200':
          description: Conductor aprobado/rechazado

  /admin/reports/rides:
    get:
      tags: [Admin]
      summary: Reporte de viajes
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: from_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: format
          in: query
          schema:
            type: string
            enum: [json, csv, pdf]
            default: json
      responses:
        '200':
          description: Reporte generado

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    TenantId:
      name: tenant_id
      in: query
      required: true
      schema:
        type: string
        example: "tenant_taxi_001"
      description: ID del tenant multi-tenant

    DriverId:
      name: driver_id
      in: path
      required: true
      schema:
        type: string
      description: ID del conductor

    RideId:
      name: ride_id
      in: path
      required: true
      schema:
        type: string
      description: ID del viaje

    CustomerId:
      name: customer_id
      in: path
      required: true
      schema:
        type: string
      description: ID del cliente

  schemas:
    # =============================================================================
    # DRIVER SCHEMAS
    # =============================================================================
    Driver:
      type: object
      properties:
        driver_id:
          type: string
          example: "driver_abc123"
        tenant_id:
          type: string
        name:
          type: string
          example: "Juan Pérez"
        phone:
          type: string
          example: "+525512345678"
        email:
          type: string
          example: "juan@example.com"
        profile_photo_url:
          type: string
        license_number:
          type: string
        license_expiry:
          type: string
          format: date-time
        background_check_status:
          type: string
          enum: [pending, approved, rejected]
        status:
          type: string
          enum: [available, busy, offline, on_break]
        current_location:
          type: object
          nullable: true
          properties:
            lat:
              type: number
            lon:
              type: number
        rating:
          type: number
          format: float
          example: 4.8
        total_rides:
          type: integer
        total_rides_completed:
          type: integer
        acceptance_rate:
          type: number
          format: float
        total_earnings:
          type: number
        active:
          type: boolean
        created_at:
          type: string
          format: date-time

    DriverInput:
      type: object
      required: [tenant_id, name, phone, license_number]
      properties:
        tenant_id:
          type: string
        name:
          type: string
        phone:
          type: string
        email:
          type: string
        license_number:
          type: string
        license_expiry:
          type: string
          format: date
        password:
          type: string

    # =============================================================================
    # DRIVER SCHEDULE SCHEMAS
    # =============================================================================
    DriverSchedule:
      type: object
      properties:
        schedule_id:
          type: string
          example: "schedule_abc123"
        driver_id:
          type: string
        tenant_id:
          type: string
        day_of_week:
          type: integer
          minimum: 0
          maximum: 6
          description: "0=Lunes, 6=Domingo"
        shift_type:
          type: string
          enum: [morning, afternoon, night, flexible]
        start_time:
          type: string
          format: time
          example: "06:00"
        end_time:
          type: string
          format: time
          example: "14:00"
        break_start:
          type: string
          format: time
          nullable: true
          example: "10:00"
        break_end:
          type: string
          format: time
          nullable: true
          example: "10:30"
        is_active:
          type: boolean
        is_recurring:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    DriverScheduleInput:
      type: object
      required: [day_of_week, shift_type, start_time, end_time]
      properties:
        driver_id:
          type: string
        tenant_id:
          type: string
        day_of_week:
          type: integer
          minimum: 0
          maximum: 6
        shift_type:
          type: string
          enum: [morning, afternoon, night, flexible]
        start_time:
          type: string
          pattern: '^([0-1][0-9]|2[0-3]):[0-5][0-9]$'
          example: "06:00"
        end_time:
          type: string
          pattern: '^([0-1][0-9]|2[0-3]):[0-5][0-9]$'
          example: "14:00"
        break_start:
          type: string
          pattern: '^([0-1][0-9]|2[0-3]):[0-5][0-9]$'
          nullable: true
        break_end:
          type: string
          pattern: '^([0-1][0-9]|2[0-3]):[0-5][0-9]$'
          nullable: true
        is_active:
          type: boolean
          default: true
        is_recurring:
          type: boolean
          default: true

    ShiftTemplate:
      type: object
      properties:
        name:
          type: string
          example: "Turno Matutino"
        shift_type:
          type: string
          example: "morning"
        start_time:
          type: string
          example: "06:00"
        end_time:
          type: string
          example: "14:00"
        break_start:
          type: string
          example: "10:00"
        break_end:
          type: string
          example: "10:30"
        description:
          type: string

    # =============================================================================
    # RIDE SCHEMAS
    # =============================================================================
    Ride:
      type: object
      properties:
        ride_id:
          type: string
        tenant_id:
          type: string
        customer_id:
          type: string
        driver_id:
          type: string
          nullable: true
        origin:
          type: object
          properties:
            address:
              type: string
            lat:
              type: number
            lon:
              type: number
        destination:
          type: object
          properties:
            address:
              type: string
            lat:
              type: number
            lon:
              type: number
        distance_km:
          type: number
        duration_minutes:
          type: number
        status:
          type: string
          enum: [requested, assigned, driver_arriving, started, in_progress, completed, cancelled_by_customer, cancelled_by_driver, cancelled_no_driver]
        total_fare:
          type: number
        fare_breakdown:
          type: object
          properties:
            base_fare:
              type: number
            distance_charge:
              type: number
            time_charge:
              type: number
            surge_charge:
              type: number
            discount:
              type: number
        payment_method:
          type: string
          enum: [cash, card, transfer, wallet, corporate]
        paid:
          type: boolean
        requested_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true

    RideRequest:
      type: object
      required: [tenant_id, customer_id, origin_address, origin_lat, origin_lon, destination_address, destination_lat, destination_lon]
      properties:
        tenant_id:
          type: string
        customer_id:
          type: string
        origin_address:
          type: string
        origin_lat:
          type: number
        origin_lon:
          type: number
        destination_address:
          type: string
        destination_lat:
          type: number
        destination_lon:
          type: number
        payment_method:
          type: string
          enum: [cash, card, transfer, wallet, corporate]
        promo_code:
          type: string
        notes:
          type: string
        scheduled_for:
          type: string
          format: date-time

    # =============================================================================
    # CUSTOMER SCHEMAS
    # =============================================================================
    Customer:
      type: object
      properties:
        customer_id:
          type: string
        tenant_id:
          type: string
        phone:
          type: string
        name:
          type: string
        email:
          type: string
        profile_photo_url:
          type: string
        preferred_payment_method:
          type: string
          enum: [cash, card, transfer, wallet, corporate]
        total_rides:
          type: integer
        total_spent:
          type: number
        customer_type:
          type: string
          enum: [new, frequent, vip, corporate]
        loyalty_points:
          type: integer
        active:
          type: boolean

    CustomerInput:
      type: object
      required: [tenant_id, phone, name]
      properties:
        tenant_id:
          type: string
        phone:
          type: string
        name:
          type: string
        email:
          type: string
        password:
          type: string
        preferred_payment_method:
          type: string

    # =============================================================================
    # VEHICLE SCHEMAS
    # =============================================================================
    Vehicle:
      type: object
      properties:
        vehicle_id:
          type: string
        driver_id:
          type: string
        tenant_id:
          type: string
        vehicle_type:
          type: string
          enum: [sedan, suv, van, luxury, motorcycle]
        brand:
          type: string
        model:
          type: string
        year:
          type: integer
        color:
          type: string
        plates:
          type: string
        passenger_capacity:
          type: integer
        luggage_capacity:
          type: integer
        wheelchair_accessible:
          type: boolean
        pet_friendly:
          type: boolean
        air_conditioning:
          type: boolean
        active:
          type: boolean
        verified:
          type: boolean

    VehicleInput:
      type: object
      required: [driver_id, tenant_id, vehicle_type, brand, model, year, color, plates]
      properties:
        driver_id:
          type: string
        tenant_id:
          type: string
        vehicle_type:
          type: string
          enum: [sedan, suv, van, luxury, motorcycle]
        brand:
          type: string
        model:
          type: string
        year:
          type: integer
        color:
          type: string
        plates:
          type: string
        passenger_capacity:
          type: integer
        wheelchair_accessible:
          type: boolean
        pet_friendly:
          type: boolean

    # =============================================================================
    # RATING SCHEMAS
    # =============================================================================
    Rating:
      type: object
      properties:
        rating_id:
          type: string
        tenant_id:
          type: string
        ride_id:
          type: string
        customer_id:
          type: string
        driver_id:
          type: string
        rating:
          type: number
          format: float
          minimum: 1.0
          maximum: 5.0
        review:
          type: string
        punctuality_rating:
          type: number
          nullable: true
        cleanliness_rating:
          type: number
          nullable: true
        driving_rating:
          type: number
          nullable: true
        communication_rating:
          type: number
          nullable: true
        rating_type:
          type: string
          enum: [customer_to_driver, driver_to_customer]
        created_at:
          type: string
          format: date-time

    RatingInput:
      type: object
      required: [tenant_id, ride_id, customer_id, driver_id, rating, rating_type]
      properties:
        tenant_id:
          type: string
        ride_id:
          type: string
        customer_id:
          type: string
        driver_id:
          type: string
        rating:
          type: number
          minimum: 1.0
          maximum: 5.0
        review:
          type: string
        punctuality_rating:
          type: number
        cleanliness_rating:
          type: number
        driving_rating:
          type: number
        communication_rating:
          type: number
        rating_type:
          type: string
          enum: [customer_to_driver, driver_to_customer]

    # =============================================================================
    # PROMO CODE SCHEMAS
    # =============================================================================
    PromoCode:
      type: object
      properties:
        promo_code_id:
          type: string
        tenant_id:
          type: string
        code:
          type: string
          example: "SUMMER2024"
        discount_type:
          type: string
          enum: [percentage, fixed_amount]
        discount_value:
          type: number
          example: 20
        max_discount:
          type: number
          nullable: true
        min_fare:
          type: number
        usage_limit:
          type: integer
          nullable: true
        usage_limit_per_customer:
          type: integer
        times_used:
          type: integer
        valid_from:
          type: string
          format: date-time
        valid_until:
          type: string
          format: date-time
        active:
          type: boolean
        description:
          type: string

    PromoCodeInput:
      type: object
      required: [tenant_id, code, discount_type, discount_value]
      properties:
        tenant_id:
          type: string
        code:
          type: string
        discount_type:
          type: string
          enum: [percentage, fixed_amount]
        discount_value:
          type: number
        max_discount:
          type: number
        min_fare:
          type: number
        usage_limit:
          type: integer
        usage_limit_per_customer:
          type: integer
        valid_from:
          type: string
          format: date-time
        valid_until:
          type: string
          format: date-time
        description:
          type: string

    # =============================================================================
    # COMMON SCHEMAS
    # =============================================================================
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        pages:
          type: integer

    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        details:
          type: object
          nullable: true

  responses:
    BadRequestError:
      description: Solicitud incorrecta
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    UnauthorizedError:
      description: No autorizado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFoundError:
      description: Recurso no encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
